.signup-container {
    background: white;
    margin-left: 35vw;
    margin-top: 20vh;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.signup-form input {
    width: 90%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.signup-form button {
    width: 100%;
    padding: 10px;
    background: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.signup-form span {
    color: blue;
    cursor: pointer;
}

@media (max-width: 770px) {
    .signup-container{
        margin-left: 0vw;
        margin-top: 30vh;
    }
}